# Copyright (c) 2023 Purple Clay
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# in the Software without restriction, including without limitation the rights
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

name: sonar-cloud

on:
  workflow_call:
    inputs:
      os:
        description: "The operating system used by the virtual environment for the job. Defaults to ubuntu-latest"
        required: false
        default: ubuntu-latest
        type: string
      depth:
        description: "The depth of the git clone. Defaults to a full clone"
        required: false
        default: 0
        type: number
    secrets:
      github-token:
        description: "A secret used by the SonarCloud GitHub application"
        required: true
      sonar-token:
        description: "A secret containing the SonarCloud analysis key for the project being scanned"
        required: true

permissions:
  contents: read

jobs:
  sonar-cloud:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Windows Line Endings
        if: ${{ inputs.os == 'windows-latest' }}
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Git Clone
        uses: actions/checkout@v3
        with:
          fetch-depth: ${{ inputs.depth }}

      - name: Download Reports
        if: ${{ inputs.os == 'ubuntu-latest' }}
        uses: actions/download-artifact@v3
        with:
          name: reports
          path: /github/workspace/reports/**

      - name: SonarCloud Analysis
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
          SONAR_TOKEN: ${{ secrets.sonar-token }}
